@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 400px;
    width: 400px;
    position: relative;
    background-color: #4C4C4C;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 220px;
    width: 220px;
    background-color: #242424;
    border-radius: 50%;
    border: 8px solid rgba(76, 76, 76, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    color: #fff;
    box-sizing: content-box;
    position: relative;
}

.spinner {
    position: absolute;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.circle-red {
    stroke: #E75757;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 625;
    animation: spinner 10s linear infinite ;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.circle-pointed {
    height: 195px;
    width: 195px;
    border: 2px dotted white;
    border-radius: 50%;
    position: relative;
}

.date {
    width: 105px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.health {
    font-size: 12px;
    position: absolute;
    top: 67%;
    left: 53%;
    transform: translate(-50%, -50%);
}

span {
    color: #E75757;
    animation: heart 1s ease-in-out infinite;
    position: absolute;
    height: 15px;
    width: 15px;
    left: -20%;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    35% {
        transform: scale(1.2);
    }
}
            
@keyframes spinner {
    from {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(1);
    }
    50% {
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleY(1);
    }
    50.001% {
        transform: rotate(-90deg) scaleY(-1);
    }
    to {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(-1);
    }
}